.container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    align-items: center;

}


.heading{
    font-weight: 500;
    font-size: 2.1rem;
}


.toolbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.colors{
    display: flex;
    gap: 20px;
    padding: 0px 30px;

}

.colors .color{
    height: 30px;
    width: 36px;
    border-radius: 50%;
    background-color: #239ce2;
}


.toolbar button{
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #239ce2;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.toolbar button svg{
    height: 20px;
    width: 20px;
}